{% extends 'menu.html' %}
{% block content %}

<div class="bg-light">
    <div class="container mt-3">
        <a href="{{ path_for('index') }}" class="btn btn-outline-primary">Voltar</a>

        <div class="row mt-4">
            <div class="col-md-8">
                <h4>Fotos do sistema</h4>
                {% for fotos in fotos %}
                <p class="border border-secondary rounded wow animated fadeInUp"><img class="card-img-top"
                        src="{{ base_url() }}/Sources/Templates/assets/sistemas_img/{{ fotos.nomeFoto }}"
                        alt="Card image cap"></p>
                {% endfor %}

                {% if sistemas.iframe %}
                <h4>Video demonstração</h4>
                <p>{{ sistemas.iframe | raw }}</p>
                {% endif %}
            </div>

            <div class="col-md-4">
                <p class="display-4 text-dark font-weight-bold">{{ sistemas.nome }}</p>
                <div>
                    <p class="h3 text-success font-weight-bold">R$ {{ sistemas.valor }}
                        {% if sistemas.categoria == 'Sistema web' %}
                        <span style="font-size: 20px;">/mês</span> </p>
                        {% else %}
                        <span style="font-size: 20px;"></span> </p>
                        {% endif %}

                    <a href="{{ sistemas.demo }}" class="btn btn-lg btn-primary mt-3">Adquirir sistema</a>
                    
                    <div class="mt-4">
                        <p class="font-weight-bold text-dark">Pagamento utilizando o PagSeguro</p>
                    </div>
                    
                </div>

                <ul class="list-group mt-3 mb-5">
                    <li class="list-group-item">
                        <p class="font-weight-bold">Descrição</p>
                        <p>{{ sistemas.descricao }}</p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-weight-bold">Categoria</p>
                        <p>{{ sistemas.categoria }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}