{% extends 'menu.html' %}
{% block content %}

<div class="bg-light">
    <div class="container mt-3">
        <a href="javascript:history.back()" class="btn btn-outline-primary">Voltar</a>

        <div class="row mt-4">
            <div class="col-md-8">
                {% if sistemas.iframe %}
                <p class="h4">Video demonstração</p>
                <p>{{ sistemas.iframe | raw }}</p>
                {% endif %}
                
                <p class="h4">Fotos do sistema</p>
                {% for fotos in fotos %}
                <p class="border border-secondary rounded wow animated fadeInUp"><img class="card-img-top"
                        src="{{ base_url() }}/Sources/Templates/assets/sistemas_img/{{ fotos.nomeFoto }}"
                        alt="Card image cap"></p>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <h1 class="display-4 text-dark font-weight-bold">{{ sistemas.nome }}</h1>
                <div>
                    <p class="h3 text-success font-weight-bold">R$ {{ sistemas.valor }}
                        {% if sistemas.categoria == 'Sistema web' %}
                        <span style="font-size: 20px;">/mês</span> </p>
                        {% else %}
                        <span style="font-size: 20px;"></span> </p>
                        {% endif %}

                    <a href="{{ sistemas.demo }}" class="btn btn-lg btn-primary mt-3">Adquirir sistema</a>
                    
                    <div class="mt-4">
                        <p class="font-weight-bold text-dark">Pagamento utilizando o PagSeguro</p>
                    </div>
                    
                </div>

                <ul class="list-group mt-3 mb-5">
                    <li class="list-group-item">
                        <p class="font-weight-bold">Descrição</p>
                        <h2 style="font-size: 16px;">{{ sistemas.descricao }}</h2>
                    </li>
                    <li class="list-group-item">
                        <p class="font-weight-bold">Categoria</p>
                        <h2 style="font-size: 16px;">{{ sistemas.categoria }}</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}