{% extends 'menu.html' %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <p class="jumbotron-heading wow animated fadeInUp"><img
                src="{{ base_url() }}/Sources/Templates/assets/_img/lg/bdpstore-03.png" class="img-fluid"
                alt="BDuarte Store"></p>
        <h1 class="h3 wow animated fadeInUp">Adquira sistemas profissionais para seu negócio</h1>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <p class="h4 mb-4 wow animated fadeInUp">
            <span class="font-weight-bold">Para desenvolvedores</span>
        </p>
        <div class="row">
            {% for dev in dev %}
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-6 wow animated fadeInUp">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top"
                        src="{{ base_url() }}/Sources/Templates/assets/dev_img/{{ dev.fotoDev }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h1 class="text-dark mt-3">{{ dev.nomeDev }}</h1>
                        <p class="card-text mt-3">
                            {{ dev.descDev }}
                        </p>
                        <div class="text-center mt-5">
                            <a href="{{ dev.link }}"
                                class="btn btn-lg btn-block btn-primary" target="_blank">Visualizar no github</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}