{% extends 'menu.html' %}
{% block content %}

<div class="container">
    <form action="#" method="post" class="form-signin">
        <p class="h3 text-center">Preencha o formulário para contratar o sistema</p>
        <div class="form-group">
            <label for="nome">Nome do produto</label>
            <input type="text" name="nome" id="nome" value="{{ nome }}" class="form-control" readonly required>
            <input type="hidden" name="nome" id="nome" value="{{ sistemas.id }}" class="form-control" readonly
                required>
        </div>

        <div class="form-group">
            <label for="empresa">Nome/Empresa</label>
            <input type="text" name="empresa" id="empresa" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="">Tipo de pessoa</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pessoa" id="Físico" value="Físico">
                <label class="form-check-label" for="Físico">
                    Físico
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="pessoa" id="Jurídico" value="Jurídico">
                <label class="form-check-label" for="Jurídico">
                    Jurídico
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="fone">Telefone</label>
            <input type="text" name="fone" id="fone" class="form-control" required>
        </div>
    </form>
</div>

{% endblock %}