<!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
<form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
    <input type="hidden" name="code" value="65097569AFAFE2CDD481FF99F7CCBD46" />
    <input type="hidden" name="iot" value="button" />
    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/assinaturas/209x48-contratar-azul-assina.gif" name="submit" alt="Pague com PagSeguro - É rápido, grátis e seguro!" width="209" height="48" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
<script>
    //document.forms[0].submit();
</script>