<form method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">

    <!-- Campos obrigatórios -->
    <input name="receiverEmail" type="hidden" value="brennoduarte2015@outlook.com">
    <input name="currency" type="hidden" value="BRL">

    <!-- Itens do pagamento (ao menos um item é obrigatório) -->
    <input name="itemId1" type="hidden" value="{{ sistemas.id }}">
    <input name="itemDescription1" type="hidden" value="{{ sistemas.nome }}">
    <input name="itemAmount1" type="hidden" value="{{ valor }}">
    <input name="itemQuantity1" type="hidden" value="1">

    <input alt="Pague com PagSeguro" name="submit" type="image"
        src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif" />

</form>
<script>
    document.forms[0].submit();
</script>