{% extends 'menu.html' %}
{% block content %}

<div class="container wow animated fadeInUp">
    <h1 class="text-center display-4 mt-4">Sobre</h1>

    <div class="card-group text-center mt-5 mb-5">
        <div class="card">
            <div class="mx-auto mt-4">
                <img class="card-img-top" src="{{ base_url() }}/Sources/Templates/assets/_img/lg/bdpstore-03.png"
                    alt="BDuarte Store" style="width: 350px;">
            </div>
            <div class="card-body">
                <p class="card-text">Criado em 2019, temos o intuito de alugar e vender softwares
                    web e desktop para pequenas e médias empresas, ou para pessoas físicas.</p>
            </div>
        </div>
        <div class="card">
            <div class="mx-auto mt-4">
                <img class="card-img-top" src="{{ base_url() }}/Sources/Templates/assets/_img/cabecalho-logo.png"
                    alt="Brenno Duarte Programador" style="width: 350px;">
            </div>
            <div class="card-body">
                <p class="card-text">Analista de sistemas formado na UNIVS em Icó - CE e resido
                    atualmente em Iguatu - CE. Caso queira saber mais sobre mim, acesse
                    <a href="http://brennoduarte.rf.gd" target="_blank">meu site oficial.</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}