.imagem {
    margin-top: 0px;
}


.above-fold-text {
    position: absolute; 
    margin-top: 50px; 
    list-style-type: none;
}

@media (max-width: 760px) {
    .imagem {
        margin-top: 50px;
    }

    #above {
        font-size: 15px;
    }

    #main-name {
        font-size: 20px;
    }

    .above-fold-text {
        margin-top: 5px;
    }
}

.texto {
    color: #000 !important;
    font-size: 20px;
}

.img-i {
    width: 30%;
    height: 30%;
}

.tecno {
    margin: 15px;
}

.fonte {
    font-size: 17px;
}