.bg-menu {
    background-color: #E8E8E8;
}

.imagem {
    margin-top: 0px;
}

.above-fold-text {
    position: absolute; 
    margin-top: 50px; 
    list-style-type: none;
}

strong {
    font-weight: 600;
}

.degrade-1 {
    background-image: linear-gradient(to bottom, #63B8FF, #B0E2FF) !important;
}

.degrade-2 {
    background-image: linear-gradient(to bottom, #F8F8FF, #DCDCDC) !important;
}

.itens-menu {
    font-weight: 500 !important; 
    font-size: 18px !important;
}

@media (max-width: 1200px) {
    .imagem {
        margin-top: 5%;
    }

    #above {
        font-size: 15px;
    }

    #main-name {
        font-size: 20px;
    }

    .above-fold-text {
        margin-top: 5px;
    }
}

@media (max-width: 760px) {
    .imagem {
        margin-top: 20%;
    }

    #above {
        margin-top: 10% !important;
        font-size: 15px;
        margin-left: -30px;
    }

    #main-name {
        font-size: 20px;
    }

    .above-fold-text {
        margin-top: 5px;
    }
}

@media (max-width: 490px) {
    #servicos {
        margin-top: 20%;
    }
}

.texto {
    color: #000 !important;
    font-size: 20px;
}

.img-i {
    width: 30%;
    height: 30%;
}

.tecno {
    margin: 15px;
}

.fonte {
    font-size: 17px;
}

.btn-custom-1 {
    background-color: green !important;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px black;
    color: #FFF !important;
}

.btn-custom-1:hover {
    background-color: #00CD00 !important;
}

.btn-custom-2 {
    background-color: #1E90FF !important;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 5px black;
    color: #FFF !important;
    font-family: 'Questrial', sans-serif !important;
    font-size: 20px;
    transition: 0.5s;
}

.btn-custom-2:hover {
    background-color: #00BFFF !important;
    transition: 0.5s;
}