.bg-menu {
    background-color: #E8E8E8 !important;
}

.shadow-menu {
    box-shadow: 0px 0px 10px black !important;
}

.imagem {
    position: absolute; 
    right: 50px; 
    top: 200px;
}

.above-fold-text {
    /* position: absolute;  */
    margin-top: 50px; 
    list-style-type: none;
}

strong {
    font-weight: 600;
}

.degrade-1 {
    background-image: linear-gradient(to bottom, #FFF, #B0E2FF, #FFF) !important;
}

.degrade-2 {
    background-image: linear-gradient(to bottom, #B0E2FF, #C6E2FF) !important;
}

.degrade-3 {
    background-image: linear-gradient(to bottom, #C6E2FF, #FFF) !important;
}

.itens-menu {
    font-weight: 500 !important; 
    font-size: 18px !important;
    font-weight: 900 !important;
}

/*@media (max-width: 1200px) {
    .imagem {
        margin-top: 5%;
    }

    #above {
        font-size: 15px;
    }

    #main-name {
        font-size: 20px;
    }

    .above-fold-text {
        margin-top: 5px;
    }
}*/

@media (max-width: 760px) {
    .imagem {
        right: 30px;
        top: 150px;
        width: 40%;
    }

    .quemsomos {
        margin-top: 15px;
        font-size: 18px;
        text-align: center !important;
    }

    #above {
        margin-top: 10% !important;
        font-size: 15px;
        margin-left: -30px;
    }

    #main-name {
        font-size: 20px;
    }

    .above-fold-text {
        margin-top: 5px;
    }
}

@media (max-width: 490px) {
    #logo {
        width: 60% !important;
    }

    .obs {
        font-size: 15px;
    }

    .section-title {
        font-size: 23px !important;
    }

    .subtitle {
        font-size: 20px !important;
    }
    
    .h4 {
        font-size: 20px;
    }

    .h5, .h6 {
        font-size: 18px;
    }

    .img-resp {
        width: 50%;
    }

    .above-text {
        font-size: 18px;
    }

    .footer-info {
        font-size: 18px;
    }
}

.texto {
    color: #000 !important;
    font-size: 20px;
}

.img-i {
    width: 30%;
    height: 30%;
}

.tecno {
    margin: 15px;
}

.fonte {
    font-size: 17px;
}

.fonte-2 {
    font-size: 25px;
}

.btn-custom-1 {
    background-color: green !important;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #828282;
    color: #FFF !important;
    font-family: 'Questrial', sans-serif !important;
    font-size: 20px;
    transition: 0.5s;
}

.btn-custom-1:hover {
    background-color: #00CD00 !important;
    transition: 0.5s;
}

.btn-custom-2 {
    background-color: #1E90FF !important;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #828282;
    color: #FFF !important;
    font-family: 'Questrial', sans-serif !important;
    font-size: 20px;
    transition: 0.5s;
}

.btn-custom-2:hover {
    background-color: #00BFFF !important;
    transition: 0.5s;
}

.btn-custom-3 {
    background-color: green !important;
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #828282;
    color: #FFF !important;
    font-family: 'Questrial', sans-serif !important;
    font-size: 20px;
    transition: 0.5s;
}

.btn-custom-3:hover {
    background-color: #00CD00 !important;
    transition: 0.5s;
}
