/********** common setting **********/

* {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

html, body {
    margin: 0;
    padding: 0;
}

h2 {
    font-size  : 2.8rem !important;
    font-weight: 700;
}

/* @media (max-width: 545px) {
    .display-3 {
        font-size: 2.5rem !important;
    }

    h2 {
        font-size: 1.7rem !important;
        font-weight: 700;
    }
} */

img {
    display  : block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.links {
    background: rgb(4,36,152);
    background: linear-gradient(90deg, rgba(4,36,152,1) 0%, rgba(4,52,219,1) 51%, rgba(9,4,108,1) 100%);
}

.bg-card {
    background: rgb(4,36,152);
    background: linear-gradient(90deg, rgba(4,36,152,1) 0%, rgba(4,52,219,1) 51%, rgba(9,4,108,1) 100%);
}

.service-icon {
    font-size: 100px;
    margin-bottom: 20px;
    color: #006bfe;
}

.banner-img {
    width: 100%;
}

.atlas-cta {
    border-radius: 22px !important;
    padding      : 12px 30px !important;
    font-weight  : 700;
    transition   : .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform      : translateY(-5px) !important;
}

.atlas-cta-wide {
    width: 100%;
}

.btn-green {
    background-color: #00B22F !important;
    border-color    : #00B22F !important;
}

.btn-blue {
    background-color: #006bfe !important;
    border-color    : #006bfe !important;
    color           : #FFF !important;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 120px;
}

/********** feature (skew background) **********/
.feature img {
    width    : 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #00FFAD 0);
}

#feature-last {
    background: linear-gradient(to bottom, rgba(0, 16, 107, 1) 0%, rgba(34, 0, 82, 1) 100%);
    color     : #fff;
}

#feature-clients {
    background-image: linear-gradient(to bottom, rgba(0, 51, 158, 1) 0%, rgba(67, 0, 161, 1) 100%);
    color           : #fff;
}

/********** price table **********/
#price-table {
    padding-top   : 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color     : #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #006bfe;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border    : 1px solid #006bfe;
    color     : #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding   : 2rem 3rem;
}

#copyright #social-media a {
    width        : 40px;
    height       : 40px;
    border-radius: 99%;
    background   : #ffffff;
    transition   : .4s ease;
}

#copyright #social-media a i {
    color      : #192440;
    font-size  : 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #006bfe;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}