{% extends 'menu.html' %}
{% block content %}

<section class="Material-about-section section-padding degrade-3">
  <div style="width: 100%;">
    <h1><img class="imagem img-fluid" src="{{ base_url() }}/views/_img/bnr2.png" alt="SMW Digital"></h1>
  </div>

  <ul class="above-fold-text text-dark h5" id="above">
    <li class="mb-4 mt-4 wow animated fadeInDown" id="main-name">
      <img id="logo" src="{{ base_url() }}/views/_img/logo/smwdigital-logo-3.png" alt="SMW Digital"
        class="img-fluid w-50">
    </li>
    <li class="mb-3 wow animated fadeInLeft" data-wow-delay="1s">
      &#9899; Geramos resultados para <br> atrair mais clientes para <br> o seu negócio;
    </li>
    <li class="mb-3 wow animated fadeInLeft" data-wow-delay="2s">
      &#9899; Criação de sites e sistemas web;
    </li>
    <li class="mb-3 wow animated fadeInLeft" data-wow-delay="3s">
      &#9899; Campanhas de marketing digital;
    </li>
    <li class="mb-3 wow animated fadeInLeft" data-wow-delay="4s">
      &#9899; Tudo isso para pequenas e médias empresas.
    </li>
    <li class="mt-5">
      <a href="{{ CONTACT }}" class="btn-custom-1 wow animated fadeInRight"><i class="material-icons mr-2">
          attach_money
        </i>Realizar orçamento</a>
    </li>
  </ul>
</section>

<!-- About Section -->
<section class="Material-about-section section-padding" id="servicos">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Serviços que oferecemos</h2>
      </div>
      <p class="h5 mb-5 text-center mx-auto wow animated fadeInLeft" data-wow-delay=".2s">Listamos abaixo os
        serviços que realizamos na nossa empresa</p>
    </div>

    <div class="row">
      <!-- Single About -->
      <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".2s">
        <div class="about-single">
          <i class="material-icons">poll</i>
          <h2 class="subtitle text-primary">Marketing Digital</h2>
          <p class="h6">Campanhas de marketing digital para aumentar as vendas do seu negócio</p class="h6">
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".2s">
        <div class="about-single">
          <i class="material-icons">computer</i>
          <h2 class="subtitle text-primary">Criação de sites</h2>
          <p class="h6">Desenvolvimento de sites que geram resultados para a sua empresa</p>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".3s">
        <div class="about-single">
          <i class="material-icons">web</i>
          <h2 class="subtitle text-primary">Criação de sistemas web</h2>
          <p class="h6">Desenvolvimento de sistemas web profissional para automatizar as tarefas mais exigentes</p>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".4s">
        <div class="about-single">
          <i class="material-icons">search</i>
          <h2 class="subtitle text-primary">SEO</h2>
          <p class="h6">Seu site nos primeiros resultados de busca no Google para atrair mais clientes</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Welcome Section Start -->
<section class="welcome-section section-padding section-dark degrade-1">
  <div class="container" id="quemsomos">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Quem somos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-7 col-xs-12">
        <p class="h4 animated wow fadeInUp text-justify quemsomos">Olá, somos uma micro-empresa de marketing digital e
          soluções web situado em Iguatu - CE. A idéia da SMW
          Digital surgiu em 2019, primeiramente como um portfólio online com o nome de <strong>Brenno
            Duarte - Programador</strong>. Porém acabamos expandindo nossos serviços, o que fez com
          que esse nome perdesse sentindo. Então, em 2020, mudamos o nome para
          <strong>SMW Digital</strong>.</p>

        <p class="h4 animated wow fadeInUp text-justify mt-3 quemsomos">O <strong>S</strong> vem de serviços,
          <strong>M</strong>
          de marketing e o <strong>W</strong> de web,
          mostrando que nosso foco é 100% no online. Com a evolução da internet nos últimos anos e vários tipos de
          serviços migrando para a mesma, acreditamos que o futuro está no digital, por isso todos os nossos
          serviços estão voltados diretamente para a web.</p>
      </div>
      <div class="col-md-12 col-lg-5 col-xs-12 welcome-column">
        <div class="video-gallery">
          <img class="img-fluid h4 animated wow fadeInRight" data-wow-delay="1s"
            src="{{ base_url() }}/views/_img/desc.png" alt="SMW Digital">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome Section End -->

<!-- About Section -->
<section class="Material-about-section section-padding mt-5" id="servicos">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Alcance o seu público-alvo</h2>
      </div>
      <p class="h5 mb-5 text-center mx-auto wow animated fadeInLeft" data-wow-delay=".2s">Abaixo estão listados
        as ferramentas onde são realizadas as campanhas de marketing digital</p>
    </div>

    <div class="row">
      <!-- Single About -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".2s">
        <div class="about-single">
          <img class="img-fluid" src="{{ base_url() }}/views/_img/icons/Facebook.png" alt="ads smw digital">
          <h2 class="subtitle text-dark">Facebook Ads</h2>
          <p class="h6">Campanhas no Facebook para atrair mais pessoas para o seu negócio</p>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".2s">
        <div class="about-single">
          <img class="img-fluid" src="{{ base_url() }}/views/_img/icons/Instagram.png" alt="ads smw digital">
          <h2 class="subtitle text-dark">Instagram</h2>
          <p class="h6">Atraia mais visibilidade para a sua empresa com campanhas no Instagram</p>
        </div>
      </div>
      <!-- Single About -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
        <div class="about-single">
          <img class="img-fluid" style="width: 40%;" src="{{ base_url() }}/views/_img/icons/Google.png"
            alt="ads smw digital">
          <h2 class="subtitle text-dark">Google</h2>
          <p class="h6">Aumente as chances de ser encontrado quando as pessoas pesquisarem sobre o assunto do seu
            negócio</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Welcome Section Start -->
<section class="Material-about-section section-padding mt-5">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Possui uma loja virtual?</h2>
      </div>
      <p class="h5 mb-5 text-center mx-auto wow animated fadeInLeft" data-wow-delay=".2s">Se você vende 
        através das redes sociais, saiba que nós também desenvolvemos sites e-commerce 
        para o seu negócio. Una sua rede social com o seu e-commerce e aumente as vendas da sua empresa</p>
    </div>
    <div class="row">
      <!-- Single About -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp mx-auto" data-wow-delay=".2s">
        <div class="about-single">
          <img class="img-fluid" src="{{ base_url() }}/views/_img/ecommerce.png" alt="ads smw digital">
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp mx-auto" data-wow-delay=".2s">
        <div class="about-single">
          <img class="img-fluid" src="{{ base_url() }}/views/_img/ecommerce2.png" alt="ads smw digital">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome Section End -->

<!-- Services Section -->
<section class="Material-service-section section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Tecnologias utilizadas</h2>
      </div>
      <p class="h5 mb-5 text-center mx-auto wow animated fadeInLeft" data-wow-delay=".2s">Um conjunto de
        tecnologias que utilizamos <wbr> na criação de sites e sistemas</p>
    </div>
    <!-- Services Widget Section -->
    <div class="row">
      <!-- Service Widgets -->
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 single-service-widget wow animated fadeInUp text-center"
        data-wow-delay=".3s">
        <div class="media">
          <div class="media-body">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/html5_css3.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/php7.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/mysql.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/jquery.webp">
            <!--<img class="img-fluid tecno" src="{{ base_url() }}/views/_img/oracle-java.webp">-->
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/apache.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/slim.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/composer.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/bootstrap.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/materialize.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/netbeans.webp">
            <img class="img-fluid tecno" src="{{ base_url() }}/views/_img/vscode.webp">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Our BLog Section -->
<section class="Material-blog-section section-padding" id="projetos">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Principais sistemas</h2>
      </div>
      <p class="h5 mb-5 text-center mx-auto wow animated fadeInLeft">Alguns dos sistemas que já criamos para
        automatizar diversas tarefas. Caso queira ver mais projetos acesse a nossa loja oficial
        no botão abaixo</p>
    </div>

    <div class="row">
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
        <article class="single-blog-post bg-white">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/sistemas_img/clinicalsys.webp"
                alt="ClinicalSys - Sistema de consultório médico">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle text-dark">Clinicalsys</h2>
            <p class="h6 text-justify">Sistema para consultório médico e marcação de
              consultas, com cadastro de pacientes, médicos, convênios e uma área
              administrativa para cadastrar secretárias e emitir relatórios.</p>
          </div>
        </article>
      </div>
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".4s">
        <article class="single-blog-post bg-white">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/sistemas_img/fecad.webp"
                alt="FECAD - Sistema de gerenciamento de contratos administrativos">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle text-dark">FECAD</h2>
            <p class="h6 text-justify">Sistema de gerenciamento de contratos administrativos, podendo contratar e
              renovar
              contratos de licitações e fazer aditivos contratuais.</p>
          </div>
        </article>
      </div>
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".5s">
        <article class="single-blog-post bg-white">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/sistemas_img/controlvce.webp" alt="Imóveis Avista">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle text-dark">ControlVCE</h2>
            <p class="h6 text-justify">Sistema de vendas, controle de estoque e fluxo de caixa, podendo emitir
              relatórios mensais.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
      <!-- Button -->
      <div class="col-md-12 text-center">
        <a href="https://bduartestore.com.br" target="_blank" class="btn-custom-2">Ver mais</a>
      </div>
    </div>
  </div>
</section>
<!-- Our BLog Section End -->

<!-- Services Section -->
<section class="Material-service-section section-padding degrade-2">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h2 class="section-title">Entrar em contato</h2>
      </div>
      <p class="mb-4 mt-4 h5 mb-5 text-center mx-auto wow animated fadeInLeft" data-wow-delay=".2s">
        Caso tenha se interessado pelos nossos serviços, por
        favor utilize o botão abaixo e fale conosco
      </p>
    </div>
    <!-- Services Widget Section -->

    <div class="row wow animated fadeInUp text-center">
      <div class="col-md-6">
        <img src="{{ base_url() }}/views/_img/talking.png" class="img-fluid" alt="">
      </div>

      <div class="col-md-6" style="margin-top: 100px;">
        <a href="{{ CONTACT }}" class="btn-custom-3">Realizar consultoria gratuita*
        </a>
        <div class="mt-5">
          <small class="text-dark obs font-weight-bold">*Gratuita apenas para a cidade de Iguatu - CE</small>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

{% endblock %}