<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>SMW Digital | Links</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Seach Console -->
    <meta name="google-site-verification" content="njXArJ1TBA6Zd3XIIlsXMD91xMMKa-mJacdoqsM7YMo" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/views/assets/css/bootstrap.min.css">
    <!-- Ícone do site -->
    <link rel="icon" href="{{ base_url() }}/views/_img/logo/favicon.ico" />
    <link rel="stylesheet" href="{{ base_url() }}/views/assets/css/estilo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <style>
        .btn {
            border-radius: 50px;
            font-family: 'Questrial', sans-serif !important;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157127524-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-157127524-1');
    </script>-->
</head>

<body class="degrade-1">

    <section class="mx-auto text-center mt-5">
        <div class="mb-2 bg-light p-3 rounded-bottom">
            <img src="{{ base_url() }}/views/_img/logo/smwdigital-logo-3.png" class="w-75 img-fluid" alt="SMW Digital">
            <p class="h5 text-dark mt-5">@smwdigital</p>
        </div>

        <div>
            <div class="mt-5 container">
                <a href="https://api.whatsapp.com/send?l=pt_pt&phone=5588997186408"
                    class="btn btn-success border border-warning fonte-2 btn-lg btn-block mb-3">
                    <i class="fab fa-whatsapp mr-2 fonte-2"></i>
                    Whatsapp
                </a>

                <a href="https://www.facebook.com/smwdigitaloficial"
                    class="btn btn-success border border-warning fonte-2 btn-lg btn-block mb-3">
                    <i class="fab fa-facebook-f mr-2 fonte-2"></i>
                    Facebook
                </a>

                <a href="https://smwdigital.com.br"
                    class="btn btn-success border border-warning fonte-2 btn-lg btn-block mb-3">
                    <i class="fas fa-globe mr-2 fonte-2"></i>
                    Nosso site
                </a>

                <a href="https://bduartestore.com.br"
                    class="btn btn-success border border-warning fonte-2 btn-lg btn-block mb-3">
                    <i class="fas fa-shopping-cart mr-2 fonte-2"></i>
                    Loja oficial
                </a>
            </div>
        </div>
    </section>

</body>

</html>