{% extends 'menu.html' %}
{% block content %}

<section class="container">
	<div class="row">
		<div class="col m12">
			<h1>{{ cabecalho }}</h1>
			<p>Abaixo está listado alguns dos projetos pessoais que eu criei (clique para expandir). Todos os projetos estão armazenados no github.</p>
		</div>
	</div>

	<div class="row">
		<div class="col l6">
			<img src="{{ base_url() }}/views/_img/clinicalsys.webp" class="materialboxed responsive-img" data-caption="ClinicalSys - Sistema de consultório médico" alt="ClinicalSys - Sistema de consultório médico">
		</div>

		<div class="col l6">
			<p>ClinicalSys (PHP) - Sistema para consultório médico e marcação de consultas, com cadastro de pacientes, médicos, convênios e uma área administrativa para cadastrar secretárias e emitir relatórios</p>
		</div>
	</div>

	<div class="row">
		<div class="col l6">
			<img src="{{ base_url() }}/views/_img/fecad.webp" class="materialboxed responsive-img" data-caption="FECAD - Sistema de gerenciamento de contratos administrativos" alt="FECAD - Sistema de gerenciamento de contratos administrativos">
		</div>

		<div class="col l6">
			<p>FECAD (PHP) - Sistema de gerenciamento de contratos administrativos, podendo contratar e renovar contratos de licitações e fazer aditivos contratuais.</p>
		</div>
	</div>

	<div class="row">
		<div class="col l6">
			<img src="{{ base_url() }}/views/_img/sysservicos.webp" class="materialboxed responsive-img" data-caption="SysServicos - Sistema de ordem de serviços" alt="SysServicos - Sistema de ordem de serviços">
		</div>

		<div class="col l6">
			<p>SysServicos (PHP) - Sistema de ordem de serviços feito em PHP</p>
		</div>
	</div>

	<div class="row">
		<h2>Demonstração</h2>
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/YoWHnH5oFfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

</div>
</section>

{% endblock %}