{% extends 'menu.html' %}
{% block content %}

<!-- Our BLog Section -->
<section class="Material-blog-section section-padding" style="margin-top: 30px">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Sistemas</h1>
      </div>
    </div>

    <div class="row">
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
        <article class="single-blog-post">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/clinicalsys.webp"
                alt="ClinicalSys - Sistema de consultório médico">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle">Clinicalsys</h2>
            <p>Sistema para consultório médico e marcação de
              consultas, com cadastro de pacientes, médicos, convênios e uma área
              administrativa para cadastrar secretárias e emitir relatórios.</p>
              <a class="text-primary" href="#">Ver demonstração do sistema</a>
              <a href="#" target="_blank" class="animated4 btn btn-common" data-ripple-color="#000">Adquirir sistema<div class="ripple-container"></div></a>
          </div>
        </article>
      </div>
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".4s">
        <article class="single-blog-post">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/fecad.webp"
                alt="FECAD - Sistema de gerenciamento de contratos administrativos">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle">FECAD</h2>
            <p>Sistema de gerenciamento de contratos administrativos, podendo contratar e renovar
              contratos de licitações e fazer aditivos contratuais.</p>
            <a class="text-primary" href="#">Ver demonstração do sistema</a>
              <a href="#" target="_blank" class="animated4 btn btn-common btn-lg" data-ripple-color="#000">Adquirir sistema<div class="ripple-container"></div></a>
          </div>
        </article>
      </div>
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".5s">
        <article class="single-blog-post">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/bannerfb.webp" alt="Imóveis Avista">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle">Imóveis Avista</h2>
            <p>Site de busca e divulgação de imóveis, clique no botão abaixo bara conhecer o site.</p>
            <a href="https://imoveisavista.com.br" target="_blank" class="animated4 btn btn-common" data-ripple-color="#000">Acessar Imóveis Avista<div class="ripple-container"></div></a>
          </div>
        </article>
      </div>
    </div>
    <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
      <!-- Button -->
      <div class="col-md-12 text-center">
        <a href="https://github.com/brennoDuarte" class="animated4 btn btn-common" data-ripple-color="#000">Ver mais
          no GitHub<div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
</section>
<!-- Our BLog Section End -->

{% endblock %}