.imagem {
    margin-top: 0px;
}

@media (max-width: 760px) {
    .imagem {
        margin-top: 50px;
    }
}

.texto {
    color: #000 !important;
    font-size: 20px;
}

.img-i {
    width: 30%;
    height: 30%;
}

.tecno {
    margin: 15px;
}

.fonte {
    font-size: 17px;
}