{% extends 'menu.html' %}
{% block content %}

<!-- Our BLog Section -->
<section class="Material-blog-section section-padding" style="margin-top: 30px">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Sistemas</h1>
      </div>
    </div>

    <div class="row">
      {% for sistemas in sistemas %}
      <!-- Single Article -->
      <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
        <article class="single-blog-post">
          <!-- Featured Image -->
          <div class="featured-image">
            <a href="#">
              <img src="{{ base_url() }}/views/_img/sistemas_img/clinicalsys.webp"
                alt="ClinicalSys - Sistema de consultório médico">
            </a>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <!-- Title -->
            <h2 class="subtitle">{{ sistemas.nome }}</h2>
            <p>{{ sistemas.descricao }}</p>
            <a class="text-primary" href="#">Ver demonstração do sistema</a>
            <a href="#" target="_blank" class="animated4 btn btn-common" data-ripple-color="#000">Adquirir sistema<div
                class="ripple-container"></div></a>
          </div>
        </article>
      </div>
      {% endfor %}
      
    </div>
    <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
    </div>
  </div>
</section>
<!-- Our BLog Section End -->

{% endblock %}