@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
html, body {
    height: 100%;
}

p, h1, h2, h3, h4, li, a {
    font-family: 'Ubuntu', sans-serif !important;
}

.login {
    margin-top: 50px;
    border-radius: 15px;
}

.tm-1 {
    font-size: 20px;
}

.tm-2 {
    font-size: 25px;
}

.tm-3 {
    font-size: 30px;
}

.btn {
    border-radius: 15px;

}

.margem {
    margin-top: 30px;
}

.center {
    text-align: center;
}

.largura {
    width: 100%;
}

.nomeUsuario {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.menu-itens {
    font-size: 15px;
    font-weight: 500;
}

.centralizar {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 985px) {
    .centralizar {
        width: 50%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .centralizar {
        width: 70%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    .centralizar {
        width: 100%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

.centralizar2 {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
}

@media (max-width: 760px) {
    .centralizar2 {
        width: 80%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    .centralizar2 {
        width: 100%; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    .display-4 {
        font-size: 35px !important;
    }
}

.largura {
    max-width: 50%;
}

.negrito {
    font-weight: bold;
}

.corFundo {
    background-color: #DCDCDC;
}

.dm-custom {
    color: #FFF;
}