{% extends 'blog/menu-blog.html' %}
{% block content %}

<!-- Call to action Section -->
<section class="call-to-action-section mt-3">
	<div class="container">
		<div class="row justify-content-between">
			<div class="mt-5 mb-3 col-md-8 col-lg-8 col-xs-12 text-left wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="text-white">Blog SMW Digital</h1>
				<h3 class="text-white">Veja notícias sobre marketing digital, tecnologia e empreendedorismo</h3>
			</div>
			<!--<div class="col-md-4 col-lg-4 col-xs-12 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s"><br>
			<a href="{{ base_url() }}/views/_img/blog.jpg" rel="nofollow" target="_blank" class="animated4 btn btn-common"><i class="material-icons mdi mdi-cart"></i> Purchase Now</a>
		</div>-->
		</div>
	</div>
</section>
<!-- Call to action Section End -->

<!-- Our BLog Section -->
<section class="Material-blog-section section-padding section-padding">
	<div class="container">
		<div class="row">
			{% for n in noticias %}
			<!-- Single Article -->
			<div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
				<article class="single-blog-post">
					<!-- Featured Image -->
					<div class="featured-image">
						<a
							href="{{ path_for('blogConteudo', {'id': n.idNot, 'titulo': n.titulo | replace({' ' : '-'}) | lower}) }}">
							<img src="{{ base_url() }}/views/blog/views-gestor/fotos-blog/{{ n.imagem | slice(4,7) }}/{{ n.imagem }}"
								alt="{{ n.titulo }}" title="{{ n.titulo }}" class="img-blog">
						</a>
					</div>
					<!-- Post Meta -->
					<div class="post-meta">
						<!-- Title -->
						<a
							href="{{ path_for('blogConteudo', {'id': n.idNot, 'titulo': n.titulo | replace({' ' : '-'}) | lower}) }}">
							<h2 class="subtitle">{{ n.titulo }}</h2>
						</a>
						<p>{{ n.resumo }}</p>
					</div>
					<div class="meta-tags">
						<a class="btn-custom-2" href="{{ path_for('blogConteudo', {'id': n.idNot, 'titulo': n.titulo | replace({' ' : '-'}) | lower}) }}">
							Leia mais </a>
					</div>
				</article>
			</div>
			{% endfor %}
		</div>
		<div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
			<!-- Button -->
			<div class="col-md-12 text-center">
				<nav>
					<ul class="pagination pagination-lg justify-content-center">
						<li class="page-item"><a class="page-link" href="blog?pag=1">Primeiro</a></li>
						{% for valor in range(valorAnt1, valorAnt2) %}
						{% if valor > 1 %}
						<li class="page-item"><a class="page-link" href="blog?pag={{ valor }}">{{ valor }}</a></li>
						{% endif %}
						{% endfor %}

						<li class="page-item"><span class="page-link text-dark" href="#">{{ pag_atual }}</span></li>

						{% for valor in range(valorPost1, valorPost2) %}
						{% if valor <= qntPag %}
						<li class="page-item"><a class="page-link" href="blog?pag={{ valor }}">{{ valor }}</a></li>
						{% endif %}
						{% endfor %}

						<li class="page-item"><a class="page-link" href="blog?pag={{ qntPag }}">Último</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- Our BLog Section End -->

{% endblock %}