{% extends 'blog/menu-blog.html' %}
{% block content %}

<section class="Material-about-section section-padding mt-5">
    <main class="section-content padding-bottom margem">
        <div class="container">
            <article class="col-md-12">
                <div class="row margem">
                    <div class="col-md-8">
                        <section class="margem" itemscope itemtype="https://schema.org/BlogPosting">
                            <h1 itemprop="headline">{{ noticia.titulo }}</h1>
                            <h2 itemprop="description" class="resumo">{{ noticia.resumo }}</h2>
                            <p itemprop="datePublished">Por {{ noticia.autor }}.
                                {{ noticia.data | date("d/m/Y", "America/Fortaleza") }}</p>
                            <p>{{ noticia.nameCategory }}</p>
                            <img itemprop="image"
                                src="{{ base_url() }}/views/blog/views-gestor/fotos-blog/{{ pasta }}/{{ noticia.imagem }}"
                                class="img-fluid" style="margin-bottom: 20px;" alt="{{ noticia.nome_imagem }}">

                            <div itemprop="articleBody">{{ noticia.conteudo | raw }}</div>
                        </section>
                    </div>
                </div>
                <div class="row margem mt-5">
                    <div class="col-md-12">
                        <h3>Compartilhe essa notícia</h3>
                    </div>
                    <div class="col-md-12">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_compartilhar }}" target="_blank" title="{{ noticia.titulo }}">
                            <i class="fab fa-facebook-square social-share mr-3"></i>
                        </a>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url_compartilhar }}"  target="_blank" title="{{ noticia.titulo }}">
                            <i class="fab fa-linkedin social-share mr-3"></i>
                        </a>
                        <a href="https://api.whatsapp.com/send?text={{ url_compartilhar }}"  target="_blank" title="{{ noticia.titulo }}">
                            <i class="fab fa-whatsapp-square text-success social-share"></i>
                        </a>
                    </div>
                </div>
                <aside class="row margem mt-5">
                    <div class="col-md-8">
                        <h3>Saiba mais</h3>
                        <hr>
                        {% for n in mais %}
                        <img src="{{ base_url() }}/views/blog/views-gestor/fotos-blog/{{ n.imagem | slice(4,7) }}/{{ n.imagem }}"
								alt="{{ n.titulo }}" title="{{ n.titulo }}" width="50px" height="30px">
                        <a
                            href="{{ path_for('blogConteudo', {'id': n.idNot, 'titulo': n.titulo | replace({' ' : '-'})}) }}">
                            <p class="title">{{ n.titulo }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </aside>
            </article>
        </div>
    </main>
</section>

{% endblock %}