{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<!-- ========================= SECTION MAIN END// ========================= -->

<section class="section-content padding-y bg">
    <div class="container">
        <header class="section-heading">
            <h1 class="title-section tamanho">{{ title }}</h1>

            {% if msg1 %}
            <div class="alert alert-success" role="alert">
                {{ msg1 }}
            </div>
            {% endif %}

            {% if msg2 %}
            <div class="alert alert-success" role="alert">
                {{ msg2 }}
            </div>
            {% endif %}

            {% if msg3 %}
            <div class="alert alert-success" role="alert">
                {{ msg3 }}
            </div>
            {% endif %}

        </header>

        <div class="row">
            <main class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12" style="margin-bottom: 10px;">
                            <a href="{{ path_for('novaCat') }}" class="btn btn-primary">Nova categoria</a>
                        </div>
                        <main class="col-md-12">
                            {% for c in categorias %}
                            <div class="col-md-12">
                                <article class="card card-product">
                                    <div class="card-body">
                                        <div class="row">
                                            <article class="col-sm-12">
                                                <p class="title h5">{{ c.nameCategory }}</p>
                                                <dl class="dlist-align">
                                                    <dt><a href="{{ path_for('editarCat', {'id': c.idcategory}) }}"
                                                            class="text-primary">Editar</a></dt>
                                                    <dt><a href="{{ path_for('excluirCat', {'id': c.idcategory}) }}"
                                                            onclick="return confirm('Deseja realmente excluir este usuário?')"
                                                            class="text-danger">Excluir</a></dt>
                                                </dl>
                                            </article>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </main>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

{% endblock %}