{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="center margem text-dark">
                <h1 class="tamanho"><i class="fa fa-user"></i> Minha conta</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form class="form-signin" action="{{ path_for('alterarConta', {'id': idUsuario}) }}" method="POST">
                        
                        {% if msg %}
                        <div class="alert alert-success" role="alert">
                            {{ msg }}
                        </div>
                        {% endif %}
                        
                        <div class="form-group col-md-12 col-sm-12">
                            <label for="nome">Nome completo</label>
                            <input id="nome" class="form-control form-control-lg" type="text" placeholder="Nome completo" name="nome" value="{{ nome }}" required autofocus>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input id="email" class="form-control form-control-lg" type="email" placeholder="Email" name="email" value="{{ email }}" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="con">Contato</label>
                            <input id="con" class="form-control form-control-lg" type="text" placeholder="Contato" name="contato" value="{{ contato }}" maxlength="11" required>
                        </div>

                        <input class="form-control" type="hidden" placeholder="Nome completo" name="idUsuario" value="{{ idUsuario }}" required>

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <div class="margem">
                        <p><a href="{{ path_for('alterarSenha') }}" class="text-primary">Alterar senha</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
</section>

{% endblock %}