{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <header class="section-heading">
            <h1 class="title-section tamanho">Editar Post</h1>
        </header>
        <div class="card">
            <div class="card-body">

                {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{ msg }}
                </div>
                {% endif %}

                <form action="{{ path_for('adminPainelEditar', {'id': noticia.idNot }) }}" method="POST"
                    enctype="multipart/form-data" autocomplete="off">
                    <input type="hidden" name="pasta" id="pasta" value="{{ pasta }}" readonly>
                    <input type="hidden" name="imagemAtual" id="imagemAtual" value="{{ imagemAtual }}" readonly>

                    <div class="form-group col-md-12">
                        <label for="titulo">Título</label>
                        <input id="titulo" class="form-control" type="text" value="{{ noticia.titulo }}" name="titulo"
                            required>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="resumo">Resumo</label>
                            <input id="resumo" class="form-control" type="text" value="{{ noticia.resumo }}"
                                name="resumo" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="categorias">Categorias</label>
                            <select class="form-control" name="category" required>
                                <option class="font-weight-bold" value="{{ noticia.idcategory }}" selected>
                                    {{ noticia.nameCategory }} (Selecionado)</option>
                                {% for c in categorias %}
                                <option value="{{ c.idcategory }}">{{ c.nameCategory }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row" style="margin: 0px 10px 0px 10px;">
                        <div class="form-group col-md-6">
                            <label>Foto principal</label>
                            <input class="form-control-file" type="file" name="foto" id="foto">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nomeImg">Nome da imagem</label>
                            <input id="nomeImg" class="form-control" type="text" value="{{ noticia.nome_imagem }}"
                                name="nomeImg" required>
                        </div>
                    </div>

                    <div class="row text-center text-lg-left">
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="d-block mb-3 h-100">
                                {% if noticia.imagem %}
                                <a href="{{ path_for('excluirFotoBlog', {'pasta': pasta, 'nome': noticia.imagem, 'id': noticia.idNot }) }}"
                                    class="btn btn-danger"
                                    onclick="return confirm('Tem certeza que deseja excluir esta foto?')">Excluir
                                    foto</a>
                                <img class="img-fluid img-thumbnail"
                                    src="{{ base_url() }}/views/blog/views-gestor/fotos-blog/{{ pasta }}/{{ noticia.imagem }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <textarea name="conteudo" id="summernote">{{ noticia.conteudo }}</textarea>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                        <a href="{{ path_for('adminPainel') }}" class="text-primary"
                            style="margin-left: 10px;">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}