{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<div class="card centralizar2">
    <div class="card-body">
        <div class="center margem text-dark">
            <h2><i class="fa fa-user"></i> Editar categoria</h2>
        </div>

        {% if msg1 %}
        <div class="alert alert-danger" role="alert">
            {{ msg1 }}
        </div>
        {% endif %}

        {% if msg2 %}
        <div class="alert alert-danger" role="alert">
            {{ msg2 }}
        </div>
        {% endif %}

        {% if msg3 %}
        <div class="alert alert-danger" role="alert">
            {{ msg3 }}
        </div>
        {% endif %}

        <form method="POST" action="{{ path_for('editarCat', {'id': categoria.idcategory} ) }}" class="margem" autocomplete="off">
            <div class="form-group col-md-12 col-sm-12">
                <input id="nome" class="form-control " type="text" placeholder="Nome da categoria" name="nome"
                    value="{{ categoria.nameCategory }}" required autofocus>
            </div>

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary" id="criar">Cadastrar categoria</button>
                <a href="javascript:history.back()" class="text-primary" style="margin-left: 10px;">Voltar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}