{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<div class="card centralizar2">
    <div class="card-body">
        <div class="center margem text-dark">
            <h2><i class="fa fa-user"></i> Editar Usuário</h2>
        </div>

        {% if msg2 %}
		<div class="alert alert-danger" role="alert">
			{{ msg2 }}
		</div>
        {% endif %}
        
        {% if msg3 %}
		<div class="alert alert-danger" role="alert">
			{{ msg3 }}
		</div>
		{% endif %}

        <form method="POST" action="{{ path_for('editarUsu', {'id': usuario.idAdm}) }}" class="margem" autocomplete="off">
            <div class="form-group col-md-12 col-sm-12">
                <input id="nome" class="form-control" type="text" value="{{ usuario.nomeAdm }}" name="nome" required autofocus>
            </div>
            
            <div class="form-group col-md-12">
                <input id="email" class="form-control" type="email" value="{{ usuario.emailAdm }}" placeholder="Email" name="email" required>
            </div>
            
            <div class="form-group col-md-12">
                <input id="con" class="form-control" type="text" value="{{ usuario.contatoAdm }}" placeholder="Contato" name="contato" maxlength="11" required>
            </div>

            <div class="form-group col-md-12">
                <select name="tipoAcesso" id="tipoAcesso" class="form-control">
                    {% if acesso %}
                        <option value="{{ acesso }}" selected>{{ acesso }}</option>
                    {% endif %}
                    <optgroup label="Opções">
                        <option value="Administrador">Administrador</option>
                        <option value="Editor">Editor</option>
                    </optgroup>
                </select>
            </div>

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary" id="criar">Alterar usuário</button>
                <a href="javascript:history.back()" class="text-primary" style="margin-left: 10px;">Voltar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}