{% extends 'menu.html' %}
{% block content %}

<div class="card centralizar">
    <div class="card-body">
        <h2 class="center margem text-dark"><i class="fa fa-user"></i> Entrar (Gestor)</h2>
        <form class="form-signin margem" method="POST" action="{{ path_for('admin') }}">
            <div class="form-group">
                <input type="email" id="email" class="form-control form-control-lg" name="email" placeholder="Endereço de email" required autofocus>
            </div>
        
            <div class="form-group">
                <input type="password" id="password" class="form-control form-control-lg" name="senha" placeholder="Senha" required>
            </div>

            {% if msg1 %}
            <div class="alert alert-danger" role="alert">
                {{ msg1 }}
            </div>
            {% endif %}

            {% if msg2 %}
            <div class="alert alert-success" role="alert">
                {{ msg2 }}
            </div>
            {% endif %}

            {% if msg3 %}
            <div class="alert alert-success" role="alert">
                {{ msg3 }}
            </div>
            {% endif %}
            
            <button class="btn btn-lg btn-primary btn-block margem" type="submit">Entrar</button>
        </form>
    </div>
</div>
    
{% endblock %}