{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <header class="section-heading">
            <h1 class="title-section tamanho">Novo Post</h1>
        </header>
        <div class="card">
            <div class="card-body">

                {% if msg %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
                {% endif %}

                <form action="{{ path_for('adminPainelNovo') }}" method="POST" enctype="multipart/form-data"
                    autocomplete="off">
                    <div class="form-group col-md-12">
                        <label for="titulo">Título</label>
                        <input id="titulo" class="form-control" type="text" name="titulo" maxlength="100" required>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="resumo">Resumo</label>
                            <input id="resumo" class="form-control" type="text" name="resumo" maxlength="255" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="categorias">Categorias</label>
                            <select class="form-control" name="category" required>
                                <option value="" disabled selected>-- Selecione a categoria -- </option>
                                {% for c in categorias %}
                                <option value="{{ c.idcategory }}">{{ c.nameCategory }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row" style="margin: 0px 10px 0px 10px;">
                        <div class="form-group col-md-6">
                            <label>Foto principal</label>
                            <input class="form-control-file" type="file" name="foto" id="foto" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nomeImg">Nome da imagem</label>
                            <input id="nomeImg" class="form-control" type="text" name="nomeImg" maxlength="45" required>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <textarea name="conteudo" id="summernote"></textarea>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                        <a href="{{ path_for('adminPainel') }}" class="text-primary"
                            style="margin-left: 10px;">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}