{% extends 'blog/views-gestor/menu-blog.html' %}
{% block content %}

<div class="card centralizar2">
    <div class="card-body">
        <div class="center margem text-dark">
            <h2><i class="fa fa-user"></i> Novo Usuário</h2>
        </div>

        {% if msg1 %}
		<div class="alert alert-danger" role="alert">
			{{ msg1 }}
		</div>
		{% endif %}

		{% if msg2 %}
		<div class="alert alert-danger" role="alert">
			{{ msg2 }}
		</div>
		{% endif %}

		{% if msg3 %}
		<div class="alert alert-danger" role="alert">
			{{ msg3 }}
		</div>
		{% endif %}

        <form method="POST" action="{{ path_for('novoUsu') }}" class="margem" autocomplete="off">
            <div class="form-group col-md-12 col-sm-12">
                <input id="nome" class="form-control " type="text" placeholder="Nome completo" name="nome" required autofocus>
            </div>

            <div class="form-group col-md-12">
                <input id="email" class="form-control" type="email" placeholder="Email" name="email" required>
            </div>

            <div class="form-group col-md-12">
                <input id="senha" class="form-control" type="password" placeholder="Senha" name="senha" required>
            </div>

            <div class="form-group col-md-12">
                <input id="cSenha" class="form-control" type="password" placeholder="Digite novamente a senha" name="cSenha" required>
            </div>
            
            <div class="form-group col-md-12">
                <input id="con" class="form-control" type="text" placeholder="Contato" name="contato" maxlength="11" required>
            </div>

            <div class="form-group col-md-12">
                <select name="acesso" id="acesso" class="form-control" required>
                    <option value="" selected disabled>--Tipo de usuário--</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Editor">Editor</option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary" id="criar">Cadastrar usuário</button>
                <a href="javascript:history.back()" class="text-primary" style="margin-left: 10px;">Voltar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}